/ Navigation
%nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    %a.navbar-brand.js-scroll-trigger{:href => "#page-top"}
      = image_tag("favicon.ico", size: "30x30", class: "d-inline-block align-top")
      InventoryOS
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      Menu
      %i.fa.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{:href => "/"} Home
        %li.nav-item
          %a.nav-link{:href => "/items"} Inventory
        %li.nav-item
          %a.nav-link{:href => "/users"} Users
