%header.masthead
  .intro-body
    .container
      .row
        .col-lg-8.mx-auto
          %h1.brand-heading InventoryOS
          %p.intro-text 影像辨識庫存管理系統
          %a.btn.btn-circle.js-scroll-trigger{:href => "#about"}
            %i.fa.fa-angle-double-down.animated
/ About Section
%section#about.content-section.text-center
  .container
    .row
      .col-lg-8.mx-auto
        %h2 關於 InventoryOS
        %p
          InventoryOS 是一套庫存管理系統。採用影像辨識自動識別物品，讓使用者輕鬆透過拍照的方式借用及歸還物品。
        %p
          管理者也可以快速將庫存建檔，省去以往手動輸入的時間。
        %p 同時整合了RFID卡認證系統，輕鬆驗證使用者身份。
/ Download Section
%section#download.download-section.content-section.text-center
  .container
    .col-lg-8.mx-auto
      %h2 使用 InventoryOS
      %p 現在就開始使用 InventoryOS 吧！
      %a.btn.btn-default.btn-lg{:href => "/items"} 查看庫存
/ Contact Section
%section#contact.content-section.text-center
  .container
    .row
      .col-lg-8.mx-auto
        %h2 為你的空間建立 InventoryOS
        %p
          InventoryOS 完全開源，你可以點擊下方連結查看原始碼，自己建立一個！有任何問題歡迎聯繫我們。
        %ul.list-inline.banner-social-buttons
          %li.list-inline-item
            %a.btn.btn-default.btn-lg{:href => "https://github.com/Kamigami55/InventoryOS"}
              %i.fa.fa-github.fa-fw
              %span.network-name Github
